<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>
    <section name="HttpCommanderSettings" type="HttpCommander.HttpCommanderSettings" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="false" />
  </configSections>

  <HttpCommanderSettings configSource="HttpCommanderSettings.config" />

  <!-- *************** ASP.NET settings.  *************** -->
  <system.web>
    <hostingEnvironment shadowCopyBinAssemblies="true" />
    <customErrors mode="Off" />
    <pages enableSessionState="true" validateRequest="true" enableViewStateMac="true" viewStateEncryptionMode="Always" enableEventValidation="true" />
    <!--Session timeout. If user not active last 60 minutes then session will be closed
        For Windows version in Admin Panel settings enable (set to 'true')
        EnableAutoLogoutWhenSessionTimedOut parameter in Main section -->
    <sessionState timeout="60" />
    <!--cookieless="AutoDetect"/>-->

    <!-- Setting maximum 2 GB file upload limit for IIS 6 (For IIS 7 see maxAllowedContentLength below)
          and maximum number of seconds that a request is allowed to execute = 60 minutes (3600 seconds)
    -->
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600" requestPathInvalidCharacters="" /> 
    <!-- Only for ASP.NET 4.0+ to prevent problems in WebDav with special symbols: Add to httpRuntime: requestPathInvalidCharacters="" requestValidationMode="2.0"  -->
    <!--
      For change standard upload ASP.NET temporary folder add tempDirectory="<your-path-to-temp-fodler>" attribute.
      For more info see https://msdn.microsoft.com/en-us/library/s10awwz0(v=vs.100).aspx
    -->
    <compilation debug="false" targetFramework="4.0" />

    <!-- Set true to execute application under logon user role (default: "true") . -->
    <identity impersonate="true" />
    <authentication mode="Windows">
      <forms loginUrl="Default.aspx" defaultUrl="Default.aspx" timeout="43200" cookieless="UseCookies" />
    </authentication>

    <!-- HTTP Module for WebDav access and Office edit -->
    <httpModules>
      <add name="FileWebDavModule" type="HttpCommander.FileWebDAVServer.FileWebDavModule, FileWebDAVServer" />
      <add name="FormsWithWindowsUsersAuthModule" type="HttpCommander.FormsWithWindowsUsersAuthModule, HttpCommander" />
    </httpModules>
    <!-- Enable authorized access only -->
    <authorization>
      <deny users="?" />
    </authorization>
    <!-- Set machine key for cross-autentication forms -->
    <!--<machineKey
        validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE"
        decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F"
        validation="SHA1" />-->
  </system.web>

  <!-- Mail server settings for email notification feature -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="support@mysite.com">
        <network host="mail.mysite.com" port="25" userName="" password="" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>

  <!-- Disabling of authentication for some pages and folders -->
  <location path="iframe.html">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="favicon.ico">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Diagnostics.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Logout.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ForceLogout.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Handlers/AnonymousDownload.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
      <identity impersonate="true" />
    </system.web>
  </location>
  <location path="Handlers/Captcha.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Uploaders">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Localization">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
      <caching enabled="true" enableKernelCache="true">
        <profiles>
          <clear/>
        </profiles>
      </caching>
    </system.webServer>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
      <caching enabled="true" enableKernelCache="true">
        <profiles>
          <clear/>
        </profiles>
      </caching>
    </system.webServer>
  </location> 
  <location path="crossdomain.xml">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Styles.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
      <caching enabled="true" enableKernelCache="true">
        <profiles>
          <clear/>
        </profiles>
      </caching>
    </system.webServer>
  </location>
  <location path="Styles-min.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
      <caching enabled="true" enableKernelCache="true">
        <profiles>
          <clear/>
        </profiles>
      </caching>
    </system.webServer>
  </location>
  <location path="DemoFolder">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Manual">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Manual.html">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Data">
    <system.web>
      <httpHandlers>
        <add path="*.xml" verb="*" type="System.Web.HttpForbiddenHandler" />
        <add path="*.db" verb="*" type="System.Web.HttpForbiddenHandler" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <!-- Setting only for IIS 7 and 7.5 -->
      <security>
        <requestFiltering>
          <fileExtensions>
            <remove fileExtension=".xml" />
            <add fileExtension=".xml" allowed="false" />
            <remove fileExtension=".db" />
            <add fileExtension=".db" allowed="false" />
          </fileExtensions>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="SyncWebFolders.html">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="testSSO.html">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="hcwebdav">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- Setting only for IIS 7 and 7.5 -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!-- Warning! If you got error at line below then check that ASP.NET 4.x is installed at your server (Server Roles - Web Server IIS - Web Server - Application Development - ASP.NET 4.x)! -->
    <modules runAllManagedModulesForAllRequests="true">
      <!-- HTTP Module for WebDav access and Office edit -->
      <remove name="FileWebDavModule" />
      <remove name="WebDAVModule" />
      <add name="FileWebDavModule" type="HttpCommander.FileWebDAVServer.FileWebDavModule, FileWebDAVServer" preCondition="integratedMode" />
      <add name="FormsWithWindowsUsersAuthModule" type="HttpCommander.FormsWithWindowsUsersAuthModule, HttpCommander" preCondition="integratedMode" />
    </modules>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <!-- Setting maximum 2 GB (= 2147483648 bytes) file upload limit for IIS 7 -->
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".xap" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".xap" mimeType="application/x-silverlight-app" />	  
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
